[submodule "CEF"]
	path = CEF
	url = https://github.com/sfinktah/CEF
[submodule "CryHTML5"]
	path = CryHTML5
	url = https://github.com/sfinktah/CryHTML5
[submodule "Plugin_D3D"]
	path = Plugin_D3D
	url = https://github.com/sfinktah/Plugin_D3D
[submodule "Plugin_SDK"]
	path = Plugin_SDK
	url = https://github.com/sfinktah/Plugin_SDK
[submodule "AntTweakBar"]
	path = AntTweakBar
	url = https://github.com/sfinktah/AntTweakBar
[submodule "bare-minimum-cryengine3"]
	path = bare-minimum-cryengine3
	url = https://github.com/sfinktah/bare-minimum-cryengine3
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/sfinktah/rapidjson
[submodule "windowskit81"]
	path = windowskit81
	url = https://github.com/sfinktah/windowskit81
[submodule "nowide"]
	path = nowide
	url = https://github.com/sfinktah/nowide
