*.[oa]
*.asp
*.bsc
*.db
*.iobj
*.ipdb
*.ncb
*.opendb
*.opensdf
*.pch
*.sdf
*.suo
*.swp
*.un~
*.user
*.vcproj
*~
.backups
/AntTweakBar
/bare-minimum-cryengine3
/CryHTML5
/Plugin_D3D
/Plugin_SDK
/CEF
/unused
